.container {
  composes: font-colors from 'css/colors';
  composes: font-sizes from 'css/fonts';
  composes: fonts from 'css/fonts';
  composes: font-weights from 'css/fonts';
  composes: paddings from 'css/paddings';
  composes: margins from 'css/margins';
  composes: colors from 'css/colors';
  composes: timings from 'css/animation';

  background-color: var(--secondary-color);
  box-shadow: var(--fuzzy-large);
  width: 100%;
  position: relative;
  box-sizing: border-box;
  flex: none;
  display: flex;
  z-index: 99999;
  justify-content: center;
}

.links {
  composes: fonts from 'css/fonts';
  composes: paddings from 'css/paddings';

  box-sizing: border-box;
  padding: 0 var(--double-padding);

  /* flex */
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  font-family: var(--primary-font-family);
  color: var(--primary-font-color);
  text-decoration: none;
  font-size: var(--s-font-size);
  user-select: none;
  padding: var(--half-padding) calc(var(--standard-padding) * 1.5);
  cursor: pointer;
  text-align: center;
  font-weight: var(--thin-font-weight);
  opacity: 0.5;
  transition: opacity var(--std-animation-duration);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    transform: scaleX(0);
    transition: var(--std-animation-duration);
  }

  &:hover {
    opacity: 0.7;
  }
}

.expanded-link {
  composes: link;
  opacity: 0.7;
}

.active-link {
  composes: link;

  opacity: 1;
  text-shadow: 0 0 1px var(--primary-font-color);

  &:hover {
    opacity: 1;
  }

  &::after {
    transform: scaleX(0.3);
    opacity: 1;
  }
}

