.colors {
    --primary-color:#FFF;
    --secondary-color: #0071BC;
    --tertiary-color: #007292;
    --highlight-color: #00bbc8;
}

.font-colors {
    --primary-font-color: #FFF;
    --seconary-font-color: #000;
}
