.colors {
    --primary-color: #ffffff;
    --secondary-color: #efefef;
    --tertiary-color: #007292;
    --highlight-color: #00bbc8;
}

.font-colors {
    --primary-font-color: #000000;
    --seconary-font-color: #FFFFFF;
}
